body{
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    background-color: black;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 8px;

}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav{
    background-color: rgba(90, 89, 88, 0.189);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}
#profileimg{
    width: 200px;
    border-radius: 500px;
    
    
}
.section1{
    
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    border-radius: 50%;
    
    

}
#facebook{
    width: 35px;
}
#linkedin{
    width: 35px;
}
#instagram{
    width: 35px;
}
#wa{
    width: 35px;
}
.div2{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    
    
}
.icon{
    padding-left: 15%;
}
h1{
    padding-top: 5px;
    font-size: medium;
    padding-bottom: 5px;

}
.btn{
    margin-top: 8px;
    size: 10px;
    font-size: larger;
    border-radius: 5px;
    background-color: rgb(156, 149, 149);
    color: white;
}