body{
    background-color: white;
    color: rgb(0, 0, 0);
    padding-top: 0%;
    padding-left: 10%;
    padding-right: 10%;
    letter-spacing: 1px;

}
main{
    background-color: rgb(212, 208, 208);
    padding-left: 8%;
    padding-right: 8%;
    border-right: 10px;
    padding-bottom: 50%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10%;
    
    
}
a:active{
    color: rgb(235, 9, 9);
}
nav{
    position: sticky;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0)
    
}
.LOGOM{
    font-size: 25PX;
    color: aquamarine;
    margin-top: 1%;
    margin-left: 1%;
    

}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 50%;
    margin-top: 1%;
    gap: 30px;
    margin-left: 50px;
    
    
}

li{
    list-style-type: none;
    padding-top: 1%;
   
    
}
a{
    color: rgb(5, 174, 118);
    text-decoration: none;

}
span{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    opacity: 80%;
}
    
.bfs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 2%;
    padding-top: 8%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-right: 0%;
    margin-left: 1%;
    


}
.bss{
    
    background-color: rgba(220, 52, 52, 0);
    font-family: 'Courier New', Courier, monospace;
    padding-right: 0%;
    padding-left: 10%;
    margin-left: 30%;

}
h1{
    font-size: 35px;
    text-shadow: 20px;
    color: rgb(148, 169, 163);
    font-family: 'Courier New', Courier, monospace;
    
}
h4{
    color: rgb(9, 178, 121);
    font-size: small;
    text-wrap: wrap;
    font-family: 'Courier New', Courier, monospace;
    
}

hr{
    margin-bottom: 0%;
}
footer{
    text-align: center;


}
p{
    letter-spacing: 1px;
}
.bths{
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-right: 50%;
}
#bill{
    margin-left: 25%;
}

#linkco{
    background-color: rgb(14, 183, 126);
    padding: 2%;
    color: rgb(0, 0, 0);
    font-size: small;
    margin-left: 50%;
}
#profile{
    width: 35%;
    height: 40%;
    opacity: 60%;
    image-orientation: flip;
    border-image-outset: 100cm;
    border-color: aquamarine;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    border-radius: 20%;

}
#linkmw{
    background-color: rgb(14, 183, 126);
    padding: 2%;
    color: rgb(0, 0, 0);
    font-size: small;
    margin-left: 23%;
}
#linkfm{
    background-color: rgb(9, 178, 121);;
    color: rgb(0, 0, 0);
    font-size: small;
    text-wrap: wrap;

}
#linkfw{
    background-color: rgb(9, 178, 121);
    color: black;
    font-size: small;
    text-wrap: wrap;

}
div{
    background-color: gray;
    opacity: 80%;
    display : flex;
    flex-direction: row;
    justify-content : center;
    align-items : flex-end;
}
marquee{
    animation-duration: 1s;
    
}
#clickhere{
    color: black;
}
#mda{
    opacity:30%;
    font-size: larger;
}
.CopyRights{
    color: black;
    display: inline-block;
}