*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color: white;
}
nav{
    display: block;
    background-color: white;


}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-around;
    gap: 5px;
    padding-top: 10px;
}
li{
    list-style-type: none;
    
    

}
a{
    text-decoration: none;
}
h1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}